.container
{
    position: relative;
    width: 100%;
    font-size: 20px;
    color: white;
    text-align: center;
}

.statsWrapper
{
    left:0;
    width: 100%;
    position: absolute;
    top: 50;
}

.stat div:first-child
{
    margin-left: 180;
}

.stats
{
    background-color: red;
    position: relative;
}

.hidden
{
    display: none;
}

.video
{
    z-index: -1;
    position: relative;
}

.statsContainer
{
    font-weight: bold;
}

#kills
{
    left: 415;
}

#wins
{
    left: 615;
}

#totalKills
{
    left: 230;
}

#totalWins
{
    left: 810;
}

.stat{
    align-items: center;
    display: inline-block;
    min-width: 30;
}

.innerStat
{
    width: 100%;
    text-align: center;
}

.statMax
{
    position: absolute;
    height: 40;
    width: 100;
}

.statWrapper
{
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: #181818;
    border-color: #12b8ff;
    border-style: solid;
    border-width: 2;
    padding-left: 5;
    padding-right: 5;
}